jarvis.json
{
  "name": "Jarvis Automation",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Jarvis",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "value1": "={{$json[\"workflow\"]}}",
        "rules": [
          {
            "operation": "equal",
            "value2": "start_server"
          },
          {
            "operation": "equal",
            "value2": "stop_server"
          }
        ]
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "command": "npm run dev"
      },
      "name": "Start Server",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "command": "pkill node"
      },
      "name": "Stop Server",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "responseBody": "{\"status\":\"success\",\"message\":\"Server started successfully\"}"
      },
      "name": "Respond Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "responseBody": "{\"status\":\"success\",\"message\":\"Server stopped successfully\"}"
      },
      "name": "Respond Stop",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Start Server",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Server": {
      "main": [
        [
          {
            "node": "Respond Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Server": {
      "main": [
        [
          {
            "node": "Respond Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}